/*---------------------------------*/
/*---------CSS for desktop---------*/
/*---------------------------------*/


body {
	margin:0 auto;
	width: 100%;
	height: auto;
	min-height:100% !important;
	text-align: center;
	background-color: #ED7E85; /* For browsers that do not support gradients */
	background-image: linear-gradient(#ED7E85, #5EDABF); /* Standard syntax (must be last) */
	background-repeat: no-repeat;
    background-attachment: fixed;
	font-size: 20px;
}

div.header {
	height: 20px;
	width: 100%;
	background-color: #000080;
	color: #fff;
	margin:0;
}

p.header{
	margin: 2px 0 0 2px;
	float: left;
	font-family: 'VT323', monospace;
	font-size: 15px;
}

.header-button{
  margin:2px 2px 2px 0;
  float:right;
  width:18px;
  height:17.5px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:15px;
  font-family:'VT323', monospace;
  text-align:center;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


h1 {
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 10px;
	text-shadow: 1px 1px 2px #000000;
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite; 
}

.title1 {
  font-size: 5em;
}

 .title2 {
  font-size: 3em;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/*.images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 500px;
	height: auto;
}*/

h2 {
	text-align: center;
	font-family: 'Turret Road', cursive;
	font-size: 2vw;
	margin:  1em 3em 0 3em;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2vw;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
}

.content-button {
	margin:2px 2px 2px 0;
    width:50px;
    height:35px;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:0;
    text-align:center;
    font-family:'VT323', monospace;
    font-size: 20px;
}

.iframe-form{
	overflow: hidden;
	padding-top: 42em;
	position: relative;
}

.iframe-form iframe{
	border: 0;
	left: 10px;
	position: absolute;
	height: auto;
	min-height: 100% !important;
	top: 20px;
	width:100%;
}

.wrapper {
	text-align: center;
	margin-bottom: 20px;
}

/*a:link{
	color: #9212db;
	text-decoration: none;
}

a:visited{
	color: #9212db;
	text-decoration: none;
}*/




/*----------------------------------*/
/*----------CSS for mobile----------*/
/*----------------------------------*/
@media ( max-width: 480px ){

 body {
 	border-style: solid solid none solid;
	border-width: 1px;
	border-color: #FFFFFF #808080 #808080 #FFFFFF;
	margin:0;
	width: 100%;
	min-width: 200px;
	height: 800px;
	font-size: 15px;
  }

  div.header {
	height: 40px;
	width: 100%;
	background-color: #000080;
	color: #fff;
  }

  p.header{
	margin: 2px 0 0 1px;
	float: left;
	font-family: 'VT323', monospace;
	font-size: 30px;
  }

  .header-button{
    margin:2px 2px 2px 0;
    float:right;
    width:35px;
    height:35px;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:0;
    font-size:30px;
    font-family:'VT323', monospace;
    text-align:center;
  }


  h2 {
	font-size: 1.5em;
	margin:  2% 5% 0% 5%;
  }

  p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    margin-left: 3em;
    margin-right: 3em;
    text-align: right;
  }

  .content-button{
    margin:2% 2% 2% 0;
    width:50px;
    height:35px;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:0;
    font-size:20px;
    font-family:'VT323', monospace;
    text-align:center;
  }

  .iframe-form{
	padding-top: 255%;
	position: relative;
}

.iframe-form iframe{
	border: 0;
	left: 0;
	position: absolute;
	height: auto;
	min-height: 100% !important;
	top: 20px;
}

