body {
	margin:0 auto;
	background-color: #008080;
	text-align: center;
}

iframe{
	margin-top: 5%;
	border-style: solid solid none solid;
	border-width: 1px;
	border-color: #FFFFFF #808080 #808080 #FFFFFF;
	width: 80%;
	min-width: 900px;
	height : auto;
	min-height:500px;
	overflow: auto;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2vw;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
}

.wrapper {
	text-align: center;
}

.closure {
	font-size: 1vw;
	color: #fff;
}